# This block tells Uffizzi which service should receive HTTP traffic.
x-uffizzi:
  ingress:
    service: app
    port: 3000

# Argo-X images
services:
  app:
    image: fscarmen/argo-x:latest
    restart: always
    environment:
      WSPATH: argo
      UUID: de04add9-5c68-8bab-950c-08cd5320df18
      NEZHA_KEY: vXzZLTaBU3oVO9pyM
      NEZHA_SERVER: probe.nezha.org
      NEZHA_PORT: 5555
